<% layout("layout/boilerplate")%>

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mb-3" style="width: 18rem;">
                <img src="<%=campground.image%>" class="card-img-top" alt="A Picture of the great outdoors">
                <div class="card-body">
                  <h5 class="card-title"><%= campground.title %></h5>
                  <p class="card-text  text-muted"><%= campground.location  %></p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><%= campground.description%></li>
                  <li class="list-group-item">$<%= campground.price %>/Night</li>
                  <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                    <a class="card-link btn btn-info" href="/campgrounds/<%=campground._id%>/edit">Edit Camp</a>
                    <form class="d-inline" action="/campgrounds/<%=campground.id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Remove Camp</button>
                    </form>
                </div>
              </div>
        </div>
    </div>
